*{
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.icicle, .preReq{
  width: 50vw;
  height: 90vh;
  border: 1px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  gap: 3rem;
}

h2{
  width: 100%;
  padding: 1rem;
}

.learningObj-card{
  background-color: rgba(255, 255, 255, 0.3);
  width: 80%;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  
}

.preReqCards{
  display: flex;
  gap: 1rem;
}

.preReq-card {
  text-align: center;
  padding: 10px;
  /* position: relative; */
  width: 100px;
  border-radius: 1rem;
  /* left: 100px; */
  background-color: aqua;
  flex: 1;
  transition: 0.15s;
}

svg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: grey;
  transition: 1s;
}

.preReq-card:hover{
  flex:4;
}