*{
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.icicle, .preReq{
  width: 50vw;
  height: 90vh;
  border: 1px solid black;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  position: relative;
  align-items: center;
  justify-content: center;
  max-width: 50%;
}


/* solve issue with grid items overflowing  */
/* https://datacadamia.com/web/css/grid/overflow */
.preReq > *{
  min-width: 0px;
}


.learningObj-card{
  background-color: rgba(255, 255, 255, 0.3);
  width: 90%;
  height: fit-content;
  padding: 1rem;
  border-radius: 1rem;
  margin: 0rem auto;
}

.preReqCards, .nextStepsCards{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0 1rem;
  /* margin-bottom: 3rem; */
  
}

.preReq-card, .nextSteps-card {
  text-align: center;
  /* padding: 10px; */
  padding: 0.5rem 1rem;
  max-height: 100px;
  border-radius: 1rem;
  background-color: white;
  flex: 1;
  overflow: hidden;
  box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
  height: 56px;
  transition: 1s;
}

.preReq-card > p, .nextSteps-card > p{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

svg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.1);
}

.preReq-card:hover, .nextSteps-card:hover{
  flex-grow:20;
  /* overflow: visible; */
  max-height: 400px;
  transition: 0.5s;

  height: fit-content;
  max-height: 200px;
}

.preReq-card:hover > p, .nextSteps-card:hover > p{
  white-space: pre-wrap;
}